.gear{
    position: fixed;
    top: 10px;
    left: 10px;
}
.right{
    position: fixed;
    top: 10px;
    right: 10px;
}
.middle{
    text-align: center;
}
.nav{
    text-align: center;
}
.colored{
    color: blue;
}
.tagline{
    color:grey
}
.search-box{
    border-radius: 30px;
    border: 3px solid black;
    padding-left:25px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
}
.lens{
    position: relative;
    left:30px;
}