h1 {
   color: cadetblue;
}
#heading-2{
    color: brown;
}
.heading{
    color: darkgreen;
}
.para{
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    text-align: center;
}
.nav{
    border: 3px;
    border-color: blueviolet;
    border-style: solid;
    padding:15px;
    text-align: center;
    background-color: cornsilk;
}
.nav a{
    color: black;
    padding: 15px;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgb(146, 161, 189);
}
body{
    margin: 0px;
}
.card{
    border: 3px solid black;
    width: 200px;
    text-align: center;
    margin-top: 70px;
    margin-left: 570px;
}
.card img{
    width: 100%;
}